
.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid var(--primaryColor);
    cursor: pointer;
    transition: all 0.2s;
    color: var(--primaryColor);
    overflow: hidden;
}
.project:last-of-type{
    border-bottom: 1px solid var(--primaryColor);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);
}

.project:hover p{
    transform: translateX(10px);
}

.project h2{
    font-size: calc(.6* var(--h1Size));
    font-family: "Montserrat", sans-serif, 'Brogi';
    margin: 0px;
    color: var(--primaryColor);
    font-weight: 500;
    transition: all 0.4s;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
    color: var(--primaryColor);
}

.project::after{
    z-index: 88;
    position: absolute;
    content: '';
    width: 80vw;
    height: 0px;
    left: calc(59.5vw - 50%);
    transition: .4s;
    background: var(--personaColor);
    mix-blend-mode:difference ;
}

.project:hover::after{
    height: 20%;
    background: #ffffff;
    transition: .4s;
}
@media (max-width:900px){
    .project{
        padding: 25px 50px 25px 50px;
        flex-direction: column;   
    }
    .project:hover::after{
        height: 0px;
        background: var(--purpleColor);
        transition: .4s;
    }
}
@media (max-width:600px){
    .project{
        padding: 16px 16px 16px 16px;
        flex-direction: column;   
    }   
}
